@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.eot");
  src: local("Inter"), local("Inter"), url("../fonts/Inter.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter.otf") format("otf"), url("../fonts/Inter.woff") format("woff"), url("../fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto-Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.otf") format("otf"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto-Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.otf") format("otf"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SF UI Text Light.eot");
  src: url("../fonts/SF UI Text Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Text Light.woff2") format("woff2"), url("../fonts/SF UI Text Light.woff") format("woff"), url("../fonts/SF UI Text Light.ttf") format("truetype"), url("../fonts/SF UI Text Light.svg#sf_ui_text_light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SF UI Text Medium.eot");
  src: url("../fonts/SF UI Text Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Text Medium.woff2") format("woff2"), url("../fonts/SF UI Text Medium.woff") format("woff"), url("../fonts/SF UI Text Medium.ttf") format("truetype"), url("../fonts/SF UI Text Medium.svg#sf_ui_text_medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Bold.eot");
  src: url("../fonts/SF UI Display Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Display Bold.woff2") format("woff2"), url("../fonts/SF UI Display Bold.woff") format("woff"), url("../fonts/SF UI Display Bold.ttf") format("truetype"), url("../fonts/SF UI Display Bold.svg#sf_ui_display_bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Medium.eot");
  src: url("../fonts/SF UI Display Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Display Medium.woff2") format("woff2"), url("../fonts/SF UI Display Medium.woff") format("woff"), url("../fonts/SF UI Display Medium.ttf") format("truetype"), url("../fonts/SF UI Display Medium.svg#sf_ui_display_medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Black.eot");
  src: url("../fonts/SF UI Display Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Display Black.woff2") format("woff2"), url("../fonts/SF UI Display Black.woff") format("woff"), url("../fonts/SF UI Display Black.ttf") format("truetype"), url("../fonts/SF UI Display Black.svg#sf_ui_display_black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Light.eot");
  src: url("../fonts/SF UI Display Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Display Light.woff2") format("woff2"), url("../fonts/SF UI Display Light.woff") format("woff"), url("../fonts/SF UI Display Light.ttf") format("truetype"), url("../fonts/SF UI Display Light.svg#sf_ui_display_light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Regular.eot");
  src: url("../fonts/SF UI Display Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SF UI Display Regular.woff2") format("woff2"), url("../fonts/SF UI Display Regular.woff") format("woff"), url("../fonts/SF UI Display Regular.ttf") format("truetype"), url("../fonts/SF UI Display Regular.svg#sf_ui_display_regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
._container {
  max-width: 1173px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}
@media (max-width: 1185px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
.top-header {
  padding: 10px 0;
  background-color: #3d4147;
  color: #ffffff;
}
.top-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-header__address {
  max-width: 170px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  margin-right: 48px;
  line-height: 110%;
}
.top-header__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 33px;
  line-height: 110%;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
.top-header__profile {
  color: #00c0f3;
  margin-right: 30px;
  padding-left: 14px;
  background: url("../img/icons/profile.svg") 0 50%/10px 11px no-repeat;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}
.top-header__callback {
  padding: 6px 14.5px;
  color: #22b573;
  background-color: transparent;
  border: 1px solid #22b573;
  border-radius: 6px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.header-nav {
  margin-right: 30px;
}
.header-nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__item {
  margin-right: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-nav__item:last-child {
  margin: 0px 0px 0px 0px;
}
.header-nav__link {
  vertical-align: top;
  display: inline-block;
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.header-social__item {
  margin-right: 6px;
}
.header-social__item:last-child {
  margin: 0px 0px 0px 0px;
}

.main-header {
  padding: 20px 0 22px 0;
}
.main-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__logo {
  width: 142px;
  margin-right: 54px;
}
.main-header__logo a {
  display: inline-block;
  width: 142px;
}
.main-header__logo a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.main-header__item {
  margin-right: 28px;
}
.main-header__item:last-child {
  margin: 0px 0px 0px 0px;
}
.main-header__link {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #3c4d6b;
  white-space: nowrap;
}
.main-header__link_drop {
  padding-right: 14px;
  background: url("../img/icons/dropmenu.svg") 100% 50%/7px 5px no-repeat;
}
.main-header__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.main-header__phone {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3c4d6b;
  white-space: nowrap;
  padding-left: 19px;
  background: url("../img/icons/phone.svg") 0 50%/13px 13px no-repeat;
}

.present {
  background: url("../img/present/main_bg.jpg") 0 0/cover no-repeat;
}
.present__container {
  position: relative;
}
.present__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 73px 0;
}
.present__info {
  max-width: 580px;
  color: #ffffff;
  margin-right: 50px;
  padding-bottom: 18px;
}
.present__title {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}
.present__text {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}
.present__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 20px;
  border-radius: 20px;
  background-color: #fff;
  gap: 13px;
}
.present__form input {
  width: 320px;
  height: 50px;
  padding-left: 20px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #3c4d6b;
  border-radius: 10px;
  border: 1px solid rgba(60, 77, 107, 0.1);
}
.present__subtitle {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #3c4d6b;
}

.form-present__policy {
  max-width: 265px;
  text-align: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 125%;
  color: #3c4d6b;
}
.form-present__policy span {
  font-weight: 500;
}

.requirement {
  padding: 50px 0;
}
.requirement__title {
  margin-bottom: 30px;
}
.requirement__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 126px 20px 126px;
  -ms-grid-columns: 371px 20px 371px 20px 371px;
      grid-template: repeat(2, 126px)/repeat(3, 371px);
  grid-auto-rows: 126px;
  grid-auto-flow: row;
  gap: 20px;
}
.requirement__item {
  padding: 30px 16px 30px 30px;
  border-radius: 20px;
  background-color: #eaf1f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.requirement__item_big {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.requirement__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 55px;
  max-height: 55px;
}
.requirement__item_big .requirement__image {
  width: 116px;
  max-height: 116px;
}
.requirement__text {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #3c4d6b;
}
.requirement__bold {
  font-weight: 700;
}
.requirement__item:nth-child(1) .requirement__image {
  background: url("../img/requirement/01.svg") 0 0/contain no-repeat;
}
.requirement__item:nth-child(2) .requirement__image {
  background: url("../img/requirement/02.svg") 0 0/contain no-repeat;
}
.requirement__item:nth-child(3) .requirement__image {
  background: url("../img/requirement/03.svg") 0 0/contain no-repeat;
}
.requirement__item:nth-child(4) .requirement__image {
  background: url("../img/requirement/04.svg") 0 0/contain no-repeat;
}
.requirement__item:nth-child(5) .requirement__image {
  background: url("../img/requirement/05.svg") 0 0/contain no-repeat;
}

.stages {
  background-color: #eaf1f8;
  padding: 50px 0;
}
.stages__title {
  margin-bottom: 20px;
}
.stages__subtitle {
  margin-bottom: 30px;
}
.stages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0 -10px;
}
.stages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.item-stage {
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.item-stage__number {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #00c0f3;
}
.item-stage__title {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #3c4d6b;
  margin-bottom: 19px;
}
.item-stage__point {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #3c4d6b;
  opacity: 0.6;
  padding-left: 20px;
  line-height: 120%;
  background: url("../img/icons/check.svg") 0 3px/12px 12px no-repeat;
  margin-bottom: 13px;
}
.item-stage__point:last-child {
  margin: 0px 0px 0px 0px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "SF UI Display";
  font-weight: normal;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

.breadcrumb {
  position: absolute;
  top: 20px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumb__item a, .breadcrumb__item::before {
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  padding-left: 10px;
}
.breadcrumb__item:first-child a {
  padding: 0;
}
.breadcrumb__item:not(:first-child):before {
  content: "»";
}
.breadcrumb__item_current a {
  padding-left: 10px;
}
.breadcrumb__item_current a, .breadcrumb__item_current::before {
  font-family: "SF UI Text";
  font-weight: 500;
  color: #ffffff;
  opacity: 1;
  font-size: 12px;
}
.breadcrumb__item_current::before {
  content: "»";
}

.btn {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #22b573;
  border-radius: 10px;
  padding: 18px 21px;
}

.title {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #3c4d6b;
}

.subtitle {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #3c4d6b;
  opacity: 0.6;
}