.top-header {
   padding: 10px 0;
   background-color: #3d4147;
   color: #ffffff;
   &__row {
      display: flex;
      justify-content: start;
      align-items: center;
   }
   &__address {
      max-width: 170px;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      margin-right: 48px;
      line-height: 110%;
   }
   &__schedule {
      display: flex;
      flex-direction: column;
      margin-right: 33px;
      line-height: 110%;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
   }
   &__profile {
      color: #00c0f3;
      margin-right: 30px;
      padding-left: 14px;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      position: relative;
      &::before {
         content: '';
         top: 0;
         left: 0;
         position: absolute;
         width: 12px;
         height: 12px;
         background: url('../img/icons/profile.svg') 0 0 no-repeat;
      }
      &::after {
         content: '';
         position: absolute;
         width: 0;
         height: 1px;
         left: 0;
         bottom: -4px;
         background-color: #00c0f3;
         transition: width 0.3s;
      }
      @media (min-width: 1190px) {
         &:hover:after {
            width: 100%;
         }
      }
   }
   &__callback {
      padding: 6px 14.5px;
      color: #22b573;
      background-color: transparent;
      border: 1px solid #22b573;
      border-radius: 6px;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      &:active {
         position: relative;
         top: 1px;
         left: 1px;
      }
      @media (min-width: 1190px) {
         &:hover {
            background-color: #22b573;
            color: #fff;
            transition: all 0.3s;
         }
      }
   }
}
.header-nav {
   margin-right: 30px;
   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__item {
      margin-right: 20px;
      position: relative;
      display: flex;
      min-height: 14px;
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 1px;
         left: 0;
         bottom: -2px;
         background-color: rgba(255, 255, 255, 0.2);
      }
      &::before {
         content: '';
         position: absolute;
         width: 0;
         height: 1px;
         left: 0;
         bottom: -2px;
         background-color: #fff;
         transition: width 0.3s;
      }

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
      @media (min-width: 1190px) {
         &:hover:before {
            width: 100%;
         }
      }
   }
   &__link {
      vertical-align: top;
      display: inline-block;
      font-family: 'SF UI Display';
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      color: #ffffff;
   }
}
.header-social {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 30px;
   &__item {
      margin-right: 6px;
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
}
.main-header {
   &__row {
      display: flex;
      justify-content: start;
      align-items: center;
   }
   &__logo {
      width: 142px;
      margin-right: 40px;
      & a {
         display: inline-block;
         width: 142px;
         & img {
            height: 100%;
            object-fit: cover;
         }
      }
   }
   &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      height: 78px;
   }
   &__item {
      margin-right: 8px;
      min-height: 100%;
      display: flex;
      align-items: center;
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
   &__link {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: #3c4d6b;
      white-space: nowrap;
      align-self: stretch;
      display: flex;
      align-items: center;
      padding: 0 14px;
      @media (min-width: 1190px) {
         &:hover {
            transition: all 0.2s;
            background-color: #3d4147;
            color: #fff;
         }
      }
   }
   &__link_drop {
      padding-right: 20px;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         width: 7px;
         height: 4px;
         right: 5px;
         top: 50%;
         transform: translate(0, -50%);
         background: url('../img/icons/dropmenu.svg') 0 0 no-repeat;
      }
      &:hover::after {
         background: url('../img/icons/dropmenu_white.svg') 0 0 no-repeat;
      }
   }
   &__contacts {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 4px;
   }
   &__phone {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #3c4d6b;
      white-space: nowrap;
      padding-left: 19px;
      background: url('../img/icons/phone.svg') 0 50% / 13px 13px no-repeat;
      margin-left: auto;
   }
}
