.receive {
   padding: 50px 0 53px 0;
   &__title {
      margin-bottom: 22px;
   }
   &__subtitle {
      margin-bottom: 25px;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #3c4d6b;
   }
   &__item {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: rgba(60, 77, 107, 0.77);
      margin-bottom: 15px;
      padding-left: 19px;
      background: url('../img/icons/check.svg') 0 5px no-repeat;
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
}
